* {
    margin: 2px;
}

body {
    background-color: green;
}

form {
    text-align: center;
    margin-top: 250px;
    margin-left: 750px;
    margin-right: 750px;
    background-color: antiquewhite;
}